[submodule "awesome-selfhosted-data"]
	path = awesome-selfhosted-data
	url = https://github.com/awesome-selfhosted/awesome-selfhosted-data
[submodule "awesome-selfhosted-html"]
	path = awesome-selfhosted-html
	url = https://github.com/awesome-selfhosted/awesome-selfhosted-html
